/* CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}
/* CSS Reset */

/* Body */
body {
  font-family: "Roboto Mono", monospace;
  background: linear-gradient(to top right, #00172d, #00498d);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

/* Container */
.container {
  position: relative;
}

/* Clock */
.clock {
  background: rgba(200, 0, 200, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  backdrop-filter: blur(20px);
  border-radius: 1rem;
  font-size: 5rem;
  padding: 1.5rem 3rem;
}

.colon {
  margin-top: -0.6rem;
}

.clock span {
  position: relative;
}

.hours::after,
.minutes::after,
.seconds::after {
  font-size: 1rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.hours::after {
  content: "HOURS";
}

.minutes::after {
  content: "MINS";
}

.seconds::after {
  content: "SECS";
}

/* Container Pseudo */
.container::before {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: #fe3575;
  left: -2rem;
  top: -2rem;
  z-index: -1;
  border-radius: 0.5rem;
}

.container::after {
  content: "";
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: #348dee;
  border-radius: 50%;
  bottom: -2rem;
  right: -2rem;
  z-index: -1;
}
